---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout>
  <article class="prose">
    <h1 class="nav-link text-3xl font-bold opacity-80">Notes</h1>
    <p>This page is under construction. 👷</p>
    <h2>NUS Courses</h2>
    <p>Some notes that I made to make my life and studying easier :)</p>
    <!-- <ul>
      <li>
        <a href="https://cs2040s.devanshshah.dev"
          >CS2040S Data Structures and Algorithms</a
        >
      </li>
      <li>
        <a href="https://cs4261.devanshshah.dev"
          >CS4261 Algorithmic Game Theory</a
        >
      </li>
    </ul> -->
  </article>
</BaseLayout>
